{
  "openapi": "3.0.3",
  "info": {
    "title": "BLS Legal & Governance Platform API (reverse-engineered)",
    "version": "1.0.0",
    "description": "Reverse-engineered from the Next.js frontend's services/api-sdk client (github.com/Parisius/BLS), not from the real backend or any backend source. Field names/types/required-ness are best-effort inferences from how the frontend builds requests and parses `{ data: ... }` responses. Verify against the real backend before treating this as an authoritative contract."
  },
  "servers": [
    {
      "url": "https://af934bhpat.preview.infomaniak.website/api",
      "description": "Preview/staging (from .env API_URL)"
    }
  ],
  "tags": [
    {
      "name": "Account Incidents"
    },
    {
      "name": "Administration"
    },
    {
      "name": "Alerts / Notifications"
    },
    {
      "name": "Audit"
    },
    {
      "name": "Auth / Users"
    },
    {
      "name": "Contracts"
    },
    {
      "name": "Documents Bank"
    },
    {
      "name": "Evaluation"
    },
    {
      "name": "Governance / Board of Directors"
    },
    {
      "name": "Governance / General Meeting"
    },
    {
      "name": "Governance / Management Committee"
    },
    {
      "name": "Governance / Shareholding"
    },
    {
      "name": "Legal Monitoring"
    },
    {
      "name": "Litigation"
    },
    {
      "name": "Recovery"
    },
    {
      "name": "Safety / Guarantees (generic)"
    },
    {
      "name": "Safety / Personal Safety"
    },
    {
      "name": "Safety / Real Estate Safety (Mortgage)"
    },
    {
      "name": "Safety / Real Movable Safety"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "Capital": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number"
          },
          "date": {
            "type": "string"
          },
          "id": {
            "type": "integer"
          },
          "par_value": {
            "type": "string"
          }
        }
      },
      "ActionTransfer": {
        "type": "object",
        "properties": {
          "buyer": {
            "type": "string"
          },
          "count_actions": {
            "type": "string"
          },
          "current_task": {
            "type": "string"
          },
          "files": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "id": {
            "type": "integer"
          },
          "owner": {
            "type": "string"
          },
          "reference": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "transfer_date": {
            "type": "string"
          },
          "transfer_id": {
            "type": "integer"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "BankInfo": {
        "type": "object",
        "properties": {
          "denomination": {
            "type": "string"
          },
          "logo": {
            "type": "string"
          },
          "majority_shareholder": {
            "type": "string"
          },
          "siege_social": {
            "type": "string"
          },
          "total_shareholders": {
            "type": "string"
          }
        }
      },
      "Shareholder": {
        "type": "object",
        "properties": {
          "actions_encumbered": {
            "type": "string"
          },
          "actions_no_encumbered": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "corporate_type": {
            "type": "string"
          },
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "nationality": {
            "type": "string"
          },
          "percentage": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "TaskActionTransfer": {
        "type": "object",
        "properties": {
          "action_transfer_id": {
            "type": "integer"
          },
          "code": {
            "type": "string"
          },
          "created_by": {
            "type": "string"
          },
          "deadline": {
            "type": "string",
            "format": "date-time"
          },
          "form": {
            "type": "string"
          },
          "id": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "transfers": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "CompleteTaskActionTransfer": {
        "type": "object",
        "properties": {
          "action_transfer_id": {
            "type": "integer"
          },
          "code": {
            "type": "string"
          },
          "created_by": {
            "type": "string"
          },
          "deadline": {
            "type": "string",
            "format": "date-time"
          },
          "form": {
            "type": "string"
          },
          "id": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "title": {
            "type": "string"
          }
        }
      },
      "Tier": {
        "type": "object",
        "properties": {
          "grade": {
            "type": "string"
          },
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "GeneralMeeting": {
        "type": "object",
        "properties": {
          "files": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "id": {
            "type": "integer"
          },
          "libelle": {
            "type": "string"
          },
          "meeting_date": {
            "type": "string"
          },
          "next_task": {
            "type": "string"
          },
          "reference": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "AgAttachement": {
        "type": "object",
        "properties": {
          "files": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "id": {
            "type": "integer"
          },
          "libelle": {
            "type": "string"
          },
          "meeting_date": {
            "type": "string"
          },
          "reference": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "ListAttendanceGeneralMeeting": {
        "type": "object",
        "properties": {
          "grade": {
            "type": "string"
          },
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "Representant": {
        "type": "object",
        "properties": {
          "grade": {
            "type": "string"
          },
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "TaskGeneralMeeting": {
        "type": "object",
        "properties": {
          "created_by": {
            "type": "string"
          },
          "deadline": {
            "type": "string",
            "format": "date-time"
          },
          "general_meeting_id": {
            "type": "integer"
          },
          "id": {
            "type": "integer"
          },
          "libelle": {
            "type": "string"
          },
          "responsible": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "supervisor": {
            "type": "string"
          },
          "transfers": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "Contract": {
        "type": "object",
        "properties": {
          "category": {
            "type": "string"
          },
          "created_by": {
            "type": "string"
          },
          "date_effective": {
            "type": "string",
            "format": "date-time"
          },
          "date_expiration": {
            "type": "string",
            "format": "date-time"
          },
          "date_renewal": {
            "type": "string",
            "format": "date-time"
          },
          "date_signature": {
            "type": "string",
            "format": "date-time"
          },
          "documents": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "first_part": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "id": {
            "type": "integer"
          },
          "second_part": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "sub_type_category": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "transfers": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "type_category": {
            "type": "string"
          }
        }
      },
      "Task": {
        "type": "object",
        "properties": {
          "created_by": {
            "type": "string"
          },
          "deadline": {
            "type": "string",
            "format": "date-time"
          },
          "id": {
            "type": "integer"
          },
          "libelle": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "transfers": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "Part": {
        "type": "object",
        "properties": {
          "capital": {
            "type": "string"
          },
          "denomination": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "id": {
            "type": "integer"
          },
          "id_card": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "number_ifu": {
            "type": "string"
          },
          "number_rccm": {
            "type": "string"
          },
          "residence": {
            "type": "string"
          },
          "telephone": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "zip_code": {
            "type": "string"
          }
        }
      },
      "ContractModel": {
        "type": "object",
        "properties": {
          "children": {
            "type": "string"
          },
          "file_path": {
            "type": "string"
          },
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "parent": {
            "type": "string"
          },
          "parent_id": {
            "type": "integer"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "Bank": {
        "type": "object",
        "properties": {
          "file_url": {
            "type": "string"
          },
          "id": {
            "type": "integer"
          },
          "link": {
            "type": "string"
          },
          "title": {
            "type": "string"
          }
        }
      },
      "Notification": {
        "type": "object",
        "properties": {
          "deadline": {
            "type": "string",
            "format": "date-time"
          },
          "id": {
            "type": "integer"
          },
          "message": {
            "type": "string"
          },
          "module_id": {
            "type": "integer"
          },
          "priority": {
            "type": "string"
          },
          "read_at": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "LegalWatche": {
        "type": "object",
        "properties": {
          "case_number": {
            "type": "string"
          },
          "effective_date": {
            "type": "string"
          },
          "event_date": {
            "type": "string"
          },
          "id": {
            "type": "integer"
          },
          "innovation": {
            "type": "string"
          },
          "is_archived": {
            "type": "boolean"
          },
          "jurisdiction": {
            "type": "string"
          },
          "jurisdiction_location": {
            "type": "string"
          },
          "mail_addresses": {
            "type": "string"
          },
          "mail_content": {
            "type": "string"
          },
          "mail_object": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "nature": {
            "type": "string"
          },
          "recipient_type": {
            "type": "string"
          },
          "reference": {
            "type": "string"
          },
          "summary": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "Litigation": {
        "type": "object",
        "properties": {
          "added_amount": {
            "type": "number"
          },
          "address": {
            "type": "string"
          },
          "case_number": {
            "type": "string"
          },
          "created_by": {
            "type": "string"
          },
          "current_step": {
            "type": "string"
          },
          "documents": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "email": {
            "type": "string"
          },
          "estimated_amount": {
            "type": "number"
          },
          "form": {
            "type": "string"
          },
          "has_provisions": {
            "type": "boolean"
          },
          "id": {
            "type": "integer"
          },
          "is_archived": {
            "type": "boolean"
          },
          "jurisdiction": {
            "type": "string"
          },
          "jurisdiction_location": {
            "type": "string"
          },
          "lawyers": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "max_deadline": {
            "type": "string"
          },
          "min_deadline": {
            "type": "string"
          },
          "model_id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "nature": {
            "type": "string"
          },
          "next_step": {
            "type": "string"
          },
          "parties": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "party_type": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "reference": {
            "type": "string"
          },
          "remaining_amount": {
            "type": "number"
          },
          "status": {
            "type": "string"
          },
          "sum_added_amount": {
            "type": "number"
          },
          "sum_estimated_amount": {
            "type": "number"
          },
          "sum_remaining_amount": {
            "type": "number"
          },
          "title": {
            "type": "string"
          },
          "transfers": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "type": {
            "type": "string"
          },
          "users": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "Guarantee": {
        "type": "object",
        "properties": {
          "contract_id": {
            "type": "integer"
          },
          "created_by": {
            "type": "string"
          },
          "current_step": {
            "type": "string"
          },
          "documents": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "form": {
            "type": "string"
          },
          "formalization_type": {
            "type": "string"
          },
          "has_recovery": {
            "type": "boolean"
          },
          "id": {
            "type": "integer"
          },
          "is_approved": {
            "type": "boolean"
          },
          "max_deadline": {
            "type": "string"
          },
          "min_deadline": {
            "type": "string"
          },
          "model_id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "next_step": {
            "type": "string"
          },
          "phase": {
            "type": "string"
          },
          "reference": {
            "type": "string"
          },
          "security": {
            "type": "string"
          },
          "sell_price_estate": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "transfers": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "type": {
            "type": "string"
          }
        }
      },
      "Recovery": {
        "type": "object",
        "properties": {
          "contract_id": {
            "type": "integer"
          },
          "created_by": {
            "type": "string"
          },
          "current_step": {
            "type": "string"
          },
          "documents": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "form": {
            "type": "string"
          },
          "guarantee_id": {
            "type": "integer"
          },
          "has_guarantee": {
            "type": "boolean"
          },
          "id": {
            "type": "integer"
          },
          "is_archived": {
            "type": "boolean"
          },
          "max_deadline": {
            "type": "string"
          },
          "min_deadline": {
            "type": "string"
          },
          "model_id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "next_step": {
            "type": "string"
          },
          "reference": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "transfers": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "type": {
            "type": "string"
          }
        }
      },
      "ListAttendanceSessionAdministrator": {
        "type": "object",
        "properties": {
          "grade": {
            "type": "string"
          },
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "SessionAdministrator": {
        "type": "object",
        "properties": {
          "files": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "id": {
            "type": "integer"
          },
          "libelle": {
            "type": "string"
          },
          "next_task": {
            "type": "string"
          },
          "reference": {
            "type": "string"
          },
          "session_date": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "CaAttachement": {
        "type": "object",
        "properties": {
          "files": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "id": {
            "type": "integer"
          },
          "libelle": {
            "type": "string"
          },
          "reference": {
            "type": "string"
          },
          "session_date": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "Mandate": {
        "type": "object",
        "properties": {
          "appointment_date": {
            "type": "string"
          },
          "expiry_date": {
            "type": "string"
          },
          "id": {
            "type": "integer"
          },
          "renewal_date": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "CaAdministrator": {
        "type": "object",
        "properties": {
          "address": {
            "type": "string"
          },
          "birthdate": {
            "type": "string"
          },
          "birthplace": {
            "type": "string"
          },
          "company_head_office": {
            "type": "string"
          },
          "company_nationality": {
            "type": "string"
          },
          "denomination": {
            "type": "string"
          },
          "function": {
            "type": "string"
          },
          "id": {
            "type": "integer"
          },
          "mandates": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "nationality": {
            "type": "string"
          },
          "quality": {
            "type": "string"
          },
          "share_percentage": {
            "type": "string"
          },
          "shares": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "TaskSessionAdministrator": {
        "type": "object",
        "properties": {
          "created_by": {
            "type": "string"
          },
          "deadline": {
            "type": "string",
            "format": "date-time"
          },
          "id": {
            "type": "integer"
          },
          "libelle": {
            "type": "string"
          },
          "responsible": {
            "type": "string"
          },
          "session_administrator_id": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "supervisor": {
            "type": "string"
          },
          "transfers": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "firstname": {
            "type": "string"
          },
          "id": {
            "type": "integer"
          },
          "lastname": {
            "type": "string"
          },
          "roles": {
            "type": "string"
          },
          "subsidiary": {
            "type": "string"
          },
          "username": {
            "type": "string"
          }
        }
      },
      "CurrentUser": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "firstname": {
            "type": "string"
          },
          "id": {
            "type": "integer"
          },
          "lastname": {
            "type": "string"
          },
          "username": {
            "type": "string"
          }
        }
      },
      "Login": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string"
          }
        }
      },
      "AuthorIncident": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "telephone": {
            "type": "string"
          }
        }
      },
      "TaskIncident": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "created_by": {
            "type": "string"
          },
          "deadline": {
            "type": "string",
            "format": "date-time"
          },
          "form": {
            "type": "string"
          },
          "id": {
            "type": "integer"
          },
          "incident_id": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "transfers": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "CompleteTaskIncident": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "created_by": {
            "type": "string"
          },
          "deadline": {
            "type": "string",
            "format": "date-time"
          },
          "form": {
            "type": "string"
          },
          "id": {
            "type": "integer"
          },
          "incident_id": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "title": {
            "type": "string"
          }
        }
      },
      "Incident": {
        "type": "object",
        "properties": {
          "author_incident": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "client": {
            "type": "string"
          },
          "current_task": {
            "type": "string"
          },
          "date_received": {
            "type": "string",
            "format": "date-time"
          },
          "files": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "id": {
            "type": "integer"
          },
          "reference": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "title": {
            "type": "string"
          }
        }
      },
      "AuditNotation": {
        "type": "object",
        "properties": {
          "audit_reference": {
            "type": "string"
          },
          "creator": {
            "type": "string"
          },
          "id": {
            "type": "integer"
          },
          "last_indicators": {
            "type": "string"
          },
          "last_note": {
            "type": "string"
          },
          "last_status": {
            "type": "string"
          },
          "module": {
            "type": "string"
          },
          "module_id": {
            "type": "integer"
          },
          "original_indicators": {
            "type": "string"
          },
          "original_note": {
            "type": "string"
          },
          "original_status": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "transfers": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "AuditPerformanceIndicator": {
        "type": "object",
        "properties": {
          "description": {
            "type": "string"
          },
          "id": {
            "type": "integer"
          },
          "module": {
            "type": "string"
          },
          "note": {
            "type": "number"
          },
          "title": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "Director": {
        "type": "object",
        "properties": {
          "address": {
            "type": "string"
          },
          "birthdate": {
            "type": "string"
          },
          "birthplace": {
            "type": "string"
          },
          "id": {
            "type": "integer"
          },
          "mandates": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "nationality": {
            "type": "string"
          }
        }
      },
      "ListAttendanceManagementCommittee": {
        "type": "object",
        "properties": {
          "grade": {
            "type": "string"
          },
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "ManagementCommittee": {
        "type": "object",
        "properties": {
          "files": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "id": {
            "type": "integer"
          },
          "libelle": {
            "type": "string"
          },
          "next_task": {
            "type": "string"
          },
          "reference": {
            "type": "string"
          },
          "session_date": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "CdAttachement": {
        "type": "object",
        "properties": {
          "files": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "id": {
            "type": "integer"
          },
          "libelle": {
            "type": "string"
          },
          "reference": {
            "type": "string"
          },
          "session_date": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "TaskManagementCommittee": {
        "type": "object",
        "properties": {
          "created_by": {
            "type": "string"
          },
          "deadline": {
            "type": "string",
            "format": "date-time"
          },
          "id": {
            "type": "integer"
          },
          "libelle": {
            "type": "string"
          },
          "management_committee_id": {
            "type": "integer"
          },
          "responsible": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "supervisor": {
            "type": "string"
          },
          "transfers": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "Position": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          }
        }
      },
      "Notation": {
        "type": "object",
        "properties": {
          "collaborator": {
            "type": "string"
          },
          "creator": {
            "type": "string"
          },
          "evaluation_reference": {
            "type": "string"
          },
          "id": {
            "type": "integer"
          },
          "last_indicators": {
            "type": "string"
          },
          "last_note": {
            "type": "string"
          },
          "last_status": {
            "type": "string"
          },
          "original_indicators": {
            "type": "string"
          },
          "original_note": {
            "type": "string"
          },
          "original_status": {
            "type": "string"
          },
          "transfers": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "Collaborator": {
        "type": "object",
        "properties": {
          "firstname": {
            "type": "string"
          },
          "id": {
            "type": "integer"
          },
          "lastname": {
            "type": "string"
          },
          "position": {
            "type": "string"
          }
        }
      },
      "PerformanceIndicator": {
        "type": "object",
        "properties": {
          "description": {
            "type": "string"
          },
          "id": {
            "type": "integer"
          },
          "note": {
            "type": "number"
          },
          "position": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "Role": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "permissions": {
            "type": "string"
          }
        }
      },
      "Permission": {
        "type": "object",
        "properties": {
          "description": {
            "type": "string"
          },
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "permissions": {
            "type": "string"
          }
        }
      },
      "Subsidiary": {
        "type": "object",
        "properties": {
          "address": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/action_transfers": {
      "get": {
        "tags": [
          "Governance / Shareholding"
        ],
        "summary": "Fetches all shares transfers from the server.",
        "description": "Frontend SDK function(s): getAllSharesTransfers",
        "operationId": "getActionTransfers",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ActionTransfer"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          },
          "404": {
            "description": "Resource not found"
          },
          "422": {
            "description": "Validation error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Governance / Shareholding"
        ],
        "summary": "Transfers shares.",
        "description": "Frontend SDK function(s): transferShares",
        "operationId": "postActionTransfers",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ActionTransfer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          },
          "404": {
            "description": "Resource not found"
          },
          "422": {
            "description": "Validation error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "buyer_id": {
                    "type": "integer"
                  },
                  "count_actions": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "owner_id": {
                    "type": "integer"
                  },
                  "transfer_date": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/action_transfers/{transferId}": {
      "get": {
        "tags": [
          "Governance / Shareholding"
        ],
        "summary": "Fetches one shares transfer from the server.",
        "description": "Frontend SDK function(s): getOneSharesTransfer",
        "operationId": "getActionTransfersTransferid",
        "parameters": [
          {
            "name": "transferId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Shares transfer identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ActionTransfer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          },
          "404": {
            "description": "Resource not found"
          },
          "422": {
            "description": "Validation error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/ag_attachements": {
      "post": {
        "tags": [
          "Governance / General Meeting"
        ],
        "summary": "addGeneralMeetingFile",
        "description": "Frontend SDK function(s): addGeneralMeetingFile",
        "operationId": "postAgAttachements",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AgAttachement"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          },
          "404": {
            "description": "Resource not found"
          },
          "422": {
            "description": "Validation error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/approved_action_transfers": {
      "post": {
        "tags": [
          "Governance / Shareholding"
        ],
        "summary": "Approves a shares transfer.",
        "description": "Frontend SDK function(s): approveSharesTransfer",
        "operationId": "postApprovedActionTransfers",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          },
          "404": {
            "description": "Resource not found"
          },
          "422": {
            "description": "Validation error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "action_transfer_id": {
                    "type": "integer"
                  },
                  "address": {
                    "type": "string"
                  },
                  "corporate_type": {
                    "type": "string"
                  },
                  "nationality": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/audit_create_transfers": {
      "post": {
        "tags": [
          "Audit"
        ],
        "summary": "Forwards an audit.",
        "description": "Frontend SDK function(s): forwardAudit",
        "operationId": "postAuditCreateTransfers",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          },
          "404": {
            "description": "Resource not found"
          },
          "422": {
            "description": "Validation error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "audit_notation_id": {
                    "type": "integer"
                  },
                  "collaborators": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  },
                  "deadline_transfer": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "forward_title": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/audit_notations": {
      "get": {
        "tags": [
          "Audit"
        ],
        "summary": "Fetches all audit for a user profile from the server.",
        "description": "Frontend SDK function(s): getAllAudits",
        "operationId": "getAuditNotations",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AuditNotation"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          },
          "404": {
            "description": "Resource not found"
          },
          "422": {
            "description": "Validation error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Audit"
        ],
        "summary": "Creates a new audit.",
        "description": "Frontend SDK function(s): createAudit",
        "operationId": "postAuditNotations",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AuditNotation"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          },
          "404": {
            "description": "Resource not found"
          },
          "422": {
            "description": "Validation error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "audit_performance_indicator_id": {
                    "type": "integer"
                  },
                  "module": {
                    "type": "string"
                  },
                  "module_id": {
                    "type": "integer"
                  },
                  "note": {
                    "type": "number"
                  },
                  "notes": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/audit_notations/{auditId}": {
      "get": {
        "tags": [
          "Audit"
        ],
        "summary": "Fetches a single audit from the server.",
        "description": "Frontend SDK function(s): getOneAudit",
        "operationId": "getAuditNotationsAuditid",
        "parameters": [
          {
            "name": "auditId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Audit notation identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AuditNotation"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          },
          "404": {
            "description": "Resource not found"
          },
          "422": {
            "description": "Validation error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Audit"
        ],
        "summary": "Updates a new audit.",
        "description": "Frontend SDK function(s): updateAudit",
        "operationId": "putAuditNotationsAuditid",
        "parameters": [
          {
            "name": "auditId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Audit notation identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AuditNotation"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          },
          "404": {
            "description": "Resource not found"
          },
          "422": {
            "description": "Validation error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "audit_performance_indicator_id": {
                    "type": "integer"
                  },
                  "note": {
                    "type": "number"
                  },
                  "notes": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/audit_performance_indicators": {
      "get": {
        "tags": [
          "Audit"
        ],
        "summary": "Fetches all audit criteria for a user module from the server.",
        "description": "Frontend SDK function(s): getAllAuditCriteria",
        "operationId": "getAuditPerformanceIndicators",
        "parameters": [
          {
            "name": "module",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter/parameter 'module'"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AuditPerformanceIndicator"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          },
          "404": {
            "description": "Resource not found"
          },
          "422": {
            "description": "Validation error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Audit"
        ],
        "summary": "Creates a new audit criteria.",
        "description": "Frontend SDK function(s): createAuditCriteria",
        "operationId": "postAuditPerformanceIndicators",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AuditPerformanceIndicator"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          },
          "404": {
            "description": "Resource not found"
          },
          "422": {
            "description": "Validation error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "description": {
                    "type": "string"
                  },
                  "module": {
                    "type": "string"
                  },
                  "note": {
                    "type": "number"
                  },
                  "title": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/audit_performance_indicators/{criteriaId}": {
      "get": {
        "tags": [
          "Audit"
        ],
        "summary": "Fetches a single audit criteria from the server.",
        "description": "Frontend SDK function(s): getOneAuditCriteria",
        "operationId": "getAuditPerformanceIndicatorsCriteriaid",
        "parameters": [
          {
            "name": "criteriaId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Criteria identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AuditPerformanceIndicator"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          },
          "404": {
            "description": "Resource not found"
          },
          "422": {
            "description": "Validation error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Audit"
        ],
        "summary": "Updates an audit criteria.",
        "description": "Frontend SDK function(s): updateAuditCriteria",
        "operationId": "putAuditPerformanceIndicatorsCriteriaid",
        "parameters": [
          {
            "name": "criteriaId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Criteria identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AuditPerformanceIndicator"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          },
          "404": {
            "description": "Resource not found"
          },
          "422": {
            "description": "Validation error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "description": {
                    "type": "string"
                  },
                  "module": {
                    "type": "string"
                  },
                  "note": {
                    "type": "number"
                  },
                  "title": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Audit"
        ],
        "summary": "Deletes an audit criteria.",
        "description": "Frontend SDK function(s): deleteAuditCriteria",
        "operationId": "deleteAuditPerformanceIndicatorsCriteriaid",
        "parameters": [
          {
            "name": "criteriaId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Criteria identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AuditPerformanceIndicator"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          },
          "404": {
            "description": "Resource not found"
          },
          "422": {
            "description": "Validation error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/author_incidents": {
      "get": {
        "tags": [
          "Account Incidents"
        ],
        "summary": "Fetches all incident authors from the server.",
        "description": "Frontend SDK function(s): getAllIncidentAuthors",
        "operationId": "getAuthorIncidents",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AuthorIncident"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          },
          "404": {
            "description": "Resource not found"
          },
          "422": {
            "description": "Validation error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Account Incidents"
        ],
        "summary": "Creates a incident author.",
        "description": "Frontend SDK function(s): createIncidentAuthor",
        "operationId": "postAuthorIncidents",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AuthorIncident"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          },
          "404": {
            "description": "Resource not found"
          },
          "422": {
            "description": "Validation error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "telephone": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/author_incidents/{authorId}": {
      "get": {
        "tags": [
          "Account Incidents"
        ],
        "summary": "Fetches one incident author from the server.",
        "description": "Frontend SDK function(s): getOneIncidentAuthor",
        "operationId": "getAuthorIncidentsAuthorid",
        "parameters": [
          {
            "name": "authorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Incident author identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AuthorIncident"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          },
          "404": {
            "description": "Resource not found"
          },
          "422": {
            "description": "Validation error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Account Incidents"
        ],
        "summary": "Updates a incident author.",
        "description": "Frontend SDK function(s): updateIncidentAuthor",
        "operationId": "putAuthorIncidentsAuthorid",
        "parameters": [
          {
            "name": "authorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Incident author identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AuthorIncident"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          },
          "404": {
            "description": "Resource not found"
          },
          "422": {
            "description": "Validation error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "telephone": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Account Incidents"
        ],
        "summary": "Deletes a incident author.",
        "description": "Frontend SDK function(s): deleteIncidentAuthor",
        "operationId": "deleteAuthorIncidentsAuthorid",
        "parameters": [
          {
            "name": "authorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Incident author identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AuthorIncident"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          },
          "404": {
            "description": "Resource not found"
          },
          "422": {
            "description": "Validation error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/bank_infos": {
      "get": {
        "tags": [
          "Governance / Shareholding"
        ],
        "summary": "Fetches bank infos from the server.",
        "description": "Frontend SDK function(s): getBankInfos",
        "operationId": "getBankInfos",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/BankInfo"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          },
          "404": {
            "description": "Resource not found"
          },
          "422": {
            "description": "Validation error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Governance / Shareholding"
        ],
        "summary": "Updates bank infos.",
        "description": "Frontend SDK function(s): updateBankInfos",
        "operationId": "postBankInfos",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/BankInfo"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          },
          "404": {
            "description": "Resource not found"
          },
          "422": {
            "description": "Validation error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "denomination": {
                    "type": "string"
                  },
                  "logo": {
                    "type": "string"
                  },
                  "siege_social": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/banks": {
      "get": {
        "tags": [
          "Documents Bank"
        ],
        "summary": "Fetches all documents from the server. / Fetches all link items from the server. / Fetches all text items from the serve",
        "description": "Frontend SDK function(s): getAllLinkItems, getAllOtherDocuments, getAllTextItems",
        "operationId": "getBanks",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter/parameter 'type'"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Bank"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          },
          "404": {
            "description": "Resource not found"
          },
          "422": {
            "description": "Validation error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Documents Bank"
        ],
        "summary": "Creates a document. / Creates a link item. / Creates a text item.",
        "description": "Frontend SDK function(s): createLinkItem, createOtherDocument, createTextItem",
        "operationId": "postBanks",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Bank"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          },
          "404": {
            "description": "Resource not found"
          },
          "422": {
            "description": "Validation error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "link": {
                    "type": "string"
                  },
                  "title": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/banks/{documentId}": {
      "get": {
        "tags": [
          "Documents Bank"
        ],
        "summary": "Fetches one document from the server.",
        "description": "Frontend SDK function(s): getOneOtherDocument",
        "operationId": "getBanksDocumentid",
        "parameters": [
          {
            "name": "documentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Document identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Bank"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          },
          "404": {
            "description": "Resource not found"
          },
          "422": {
            "description": "Validation error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Documents Bank"
        ],
        "summary": "Updates a document.",
        "description": "Frontend SDK function(s): updateOtherDocument",
        "operationId": "putBanksDocumentid",
        "parameters": [
          {
            "name": "documentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Document identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Bank"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          },
          "404": {
            "description": "Resource not found"
          },
          "422": {
            "description": "Validation error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Documents Bank"
        ],
        "summary": "Deletes a document.",
        "description": "Frontend SDK function(s): deleteOtherDocument",
        "operationId": "deleteBanksDocumentid",
        "parameters": [
          {
            "name": "documentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Document identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Bank"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          },
          "404": {
            "description": "Resource not found"
          },
          "422": {
            "description": "Validation error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/banks/{linkItemId}": {
      "get": {
        "tags": [
          "Documents Bank"
        ],
        "summary": "Fetches one link item from the server.",
        "description": "Frontend SDK function(s): getOneLinkItem",
        "operationId": "getBanksLinkitemid",
        "parameters": [
          {
            "name": "linkItemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Link item identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Bank"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          },
          "404": {
            "description": "Resource not found"
          },
          "422": {
            "description": "Validation error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Documents Bank"
        ],
        "summary": "Updates a link item.",
        "description": "Frontend SDK function(s): updateLinkItem",
        "operationId": "putBanksLinkitemid",
        "parameters": [
          {
            "name": "linkItemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Link item identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Bank"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          },
          "404": {
            "description": "Resource not found"
          },
          "422": {
            "description": "Validation error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "link": {
                    "type": "string"
                  },
                  "title": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Documents Bank"
        ],
        "summary": "Deletes a link item.",
        "description": "Frontend SDK function(s): deleteLinkItem",
        "operationId": "deleteBanksLinkitemid",
        "parameters": [
          {
            "name": "linkItemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Link item identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Bank"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          },
          "404": {
            "description": "Resource not found"
          },
          "422": {
            "description": "Validation error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/banks/{textItemId}": {
      "get": {
        "tags": [
          "Documents Bank"
        ],
        "summary": "Fetches one text item from the server.",
        "description": "Frontend SDK function(s): getOneTextItem",
        "operationId": "getBanksTextitemid",
        "parameters": [
          {
            "name": "textItemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Text item identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Bank"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          },
          "404": {
            "description": "Resource not found"
          },
          "422": {
            "description": "Validation error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Documents Bank"
        ],
        "summary": "Updates a text item.",
        "description": "Frontend SDK function(s): updateTextItem",
        "operationId": "putBanksTextitemid",
        "parameters": [
          {
            "name": "textItemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Text item identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Bank"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          },
          "404": {
            "description": "Resource not found"
          },
          "422": {
            "description": "Validation error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Documents Bank"
        ],
        "summary": "Deletes a text item.",
        "description": "Frontend SDK function(s): deleteTextItem",
        "operationId": "deleteBanksTextitemid",
        "parameters": [
          {
            "name": "textItemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Text item identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Bank"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          },
          "404": {
            "description": "Resource not found"
          },
          "422": {
            "description": "Validation error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/ca_administrators": {
      "get": {
        "tags": [
          "Governance / Board of Directors"
        ],
        "summary": "Fetches all administrators from the server.",
        "description": "Frontend SDK function(s): getAllAdministrators",
        "operationId": "getCaAdministrators",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CaAdministrator"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          },
          "404": {
            "description": "Resource not found"
          },
          "422": {
            "description": "Validation error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Governance / Board of Directors"
        ],
        "summary": "Creates a administrator.",
        "description": "Frontend SDK function(s): createAdministrator",
        "operationId": "postCaAdministrators",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/CaAdministrator"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          },
          "404": {
            "description": "Resource not found"
          },
          "422": {
            "description": "Validation error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "address": {
                    "type": "string"
                  },
                  "appointment_date": {
                    "type": "string"
                  },
                  "birthdate": {
                    "type": "string"
                  },
                  "birthplace": {
                    "type": "string"
                  },
                  "company_head_office": {
                    "type": "string"
                  },
                  "company_nationality": {
                    "type": "string"
                  },
                  "denomination": {
                    "type": "string"
                  },
                  "function": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "nationality": {
                    "type": "string"
                  },
                  "quality": {
                    "type": "string"
                  },
                  "share_percentage": {
                    "type": "string"
                  },
                  "shares": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/ca_administrators/{administratorId}": {
      "get": {
        "tags": [
          "Governance / Board of Directors"
        ],
        "summary": "Fetches one administrator from the server.",
        "description": "Frontend SDK function(s): getOneAdministrator",
        "operationId": "getCaAdministratorsAdministratorid",
        "parameters": [
          {
            "name": "administratorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Board administrator identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/CaAdministrator"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          },
          "404": {
            "description": "Resource not found"
          },
          "422": {
            "description": "Validation error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Governance / Board of Directors"
        ],
        "summary": "Updates a administrator.",
        "description": "Frontend SDK function(s): updateAdministrator",
        "operationId": "putCaAdministratorsAdministratorid",
        "parameters": [
          {
            "name": "administratorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Board administrator identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/CaAdministrator"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          },
          "404": {
            "description": "Resource not found"
          },
          "422": {
            "description": "Validation error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "address": {
                    "type": "string"
                  },
                  "birthdate": {
                    "type": "string"
                  },
                  "birthplace": {
                    "type": "string"
                  },
                  "company_head_office": {
                    "type": "string"
                  },
                  "company_nationality": {
                    "type": "string"
                  },
                  "denomination": {
                    "type": "string"
                  },
                  "function": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "nationality": {
                    "type": "string"
                  },
                  "quality": {
                    "type": "string"
                  },
                  "share_percentage": {
                    "type": "string"
                  },
                  "shares": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Governance / Board of Directors"
        ],
        "summary": "Deletes a administrator.",
        "description": "Frontend SDK function(s): deleteAdministrator",
        "operationId": "deleteCaAdministratorsAdministratorid",
        "parameters": [
          {
            "name": "administratorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Board administrator identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/CaAdministrator"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          },
          "404": {
            "description": "Resource not found"
          },
          "422": {
            "description": "Validation error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/ca_attachements": {
      "post": {
        "tags": [
          "Governance / Board of Directors"
        ],
        "summary": "addAdministrationMeetingFile",
        "description": "Frontend SDK function(s): addAdministrationMeetingFile",
        "operationId": "postCaAttachements",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/CaAttachement"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          },
          "404": {
            "description": "Resource not found"
          },
          "422": {
            "description": "Validation error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/capitals": {
      "get": {
        "tags": [
          "Governance / Shareholding"
        ],
        "summary": "Fetches all capitals from the server.",
        "description": "Frontend SDK function(s): getAllBankCapitals",
        "operationId": "getCapitals",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Capital"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          },
          "404": {
            "description": "Resource not found"
          },
          "422": {
            "description": "Validation error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Governance / Shareholding"
        ],
        "summary": "Creates a capital.",
        "description": "Frontend SDK function(s): createBankCapital",
        "operationId": "postCapitals",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Capital"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          },
          "404": {
            "description": "Resource not found"
          },
          "422": {
            "description": "Validation error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "amount": {
                    "type": "number"
                  },
                  "date": {
                    "type": "string"
                  },
                  "par_value": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/capitals/{capitalId}": {
      "get": {
        "tags": [
          "Governance / Shareholding"
        ],
        "summary": "Fetches one capital from the server.",
        "description": "Frontend SDK function(s): getOneBankCapital",
        "operationId": "getCapitalsCapitalid",
        "parameters": [
          {
            "name": "capitalId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Bank capital entry identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Capital"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          },
          "404": {
            "description": "Resource not found"
          },
          "422": {
            "description": "Validation error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
[...]
