{
  "openapi": "3.0.3",
  "info": {
    "title": "BLS Legal & Governance Platform API (reverse-engineered)",
    "version": "1.0.0",
    "description": "Reverse-engineered from the Next.js frontend's services/api-sdk client (github.com/Parisius/BLS), not from the real backend or any backend source. Field names/types/required-ness are best-effort inferences from how the frontend builds requests and parses `{ data: ... }` responses. Verify against the real backend before treating this as an authoritative contract."
  },
  "servers": [
    {
      "url": "https://af934bhpat.preview.infomaniak.website/api",
      "description": "Preview/staging (from .env API_URL)"
    }
  ],
  "tags": [
    {
      "name": "Account Incidents"
    },
    {
      "name": "Administration"
    },
    {
      "name": "Alerts / Notifications"
    },
    {
      "name": "Audit"
    },
    {
      "name": "Auth / Users"
    },
    {
      "name": "Contracts"
    },
    {
      "name": "Documents Bank"
    },
    {
      "name": "Evaluation"
    },
    {
      "name": "Governance / Board of Directors"
    },
    {
      "name": "Governance / General Meeting"
    },
    {
      "name": "Governance / Management Committee"
    },
    {
      "name": "Governance / Shareholding"
    },
    {
      "name": "Legal Monitoring"
    },
    {
      "name": "Litigation"
    },
    {
      "name": "Recovery"
    },
    {
      "name": "Safety / Guarantees (generic)"
    },
    {
      "name": "Safety / Personal Safety"
    },
    {
      "name": "Safety / Real Estate Safety (Mortgage)"
    },
    {
      "name": "Safety / Real Movable Safety"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "Capital": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number"
          },
          "date": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "par_value": {
            "type": "number"
          }
        }
      },
      "ActionTransfer": {
        "type": "object",
        "properties": {
          "buyer": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            }
          },
          "count_actions": {
            "type": "integer"
          },
          "current_task": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "title": {
                "type": "string"
              },
              "deadline": {
                "type": "string"
              }
            }
          },
          "files": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "file_url": {
                  "type": "string"
                },
                "filename": {
                  "type": "string"
                }
              }
            }
          },
          "id": {
            "type": "string"
          },
          "owner": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            }
          },
          "reference": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "transfer_date": {
            "type": "string"
          },
          "transfer_id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "BankInfo": {
        "type": "object",
        "properties": {
          "denomination": {
            "type": "string"
          },
          "logo": {
            "type": "string"
          },
          "majority_shareholder": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "percentage": {
                "type": "number"
              }
            }
          },
          "siege_social": {
            "type": "string"
          },
          "total_shareholders": {
            "type": "integer"
          },
          "capital": {
            "type": "object",
            "properties": {
              "amount": {
                "type": "number"
              },
              "par_value": {
                "type": "number"
              }
            }
          }
        }
      },
      "Shareholder": {
        "type": "object",
        "properties": {
          "actions_encumbered": {
            "type": "integer"
          },
          "actions_no_encumbered": {
            "type": "integer"
          },
          "address": {
            "type": "string"
          },
          "corporate_type": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "nationality": {
            "type": "string"
          },
          "percentage": {
            "type": "number"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "TaskActionTransfer": {
        "type": "object",
        "properties": {
          "action_transfer_id": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "created_by": {
            "type": "string"
          },
          "deadline": {
            "type": "string",
            "format": "date-time"
          },
          "form": {
            "type": "object",
            "properties": {
              "form_title": {
                "type": "string"
              },
              "fields": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "label": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "id": {
            "type": "string"
          },
          "status": {
            "type": "boolean"
          },
          "title": {
            "type": "string"
          },
          "transfers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "title": {
                  "type": "string"
                },
                "deadline": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "sender": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "firstname": {
                      "type": "string"
                    },
                    "lastname": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string"
                    }
                  }
                },
                "collaborators": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "firstname": {
                        "type": "string"
                      },
                      "lastname": {
                        "type": "string"
                      },
                      "email": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "CompleteTaskActionTransfer": {
        "type": "object",
        "properties": {
          "action_transfer_id": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "created_by": {
            "type": "string"
          },
          "deadline": {
            "type": "string",
            "format": "date-time"
          },
          "form": {
            "type": "object",
            "properties": {
              "form_title": {
                "type": "string"
              },
              "fields": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "label": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "id": {
            "type": "string"
          },
          "status": {
            "type": "boolean"
          },
          "title": {
            "type": "string"
          }
        }
      },
      "Tier": {
        "type": "object",
        "properties": {
          "grade": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "GeneralMeeting": {
        "type": "object",
        "properties": {
          "files": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "id": {
            "type": "string"
          },
          "libelle": {
            "type": "string"
          },
          "meeting_date": {
            "type": "string"
          },
          "next_task": {
            "type": "string"
          },
          "reference": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "AgAttachement": {
        "type": "object",
        "properties": {
          "files": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "id": {
            "type": "string"
          },
          "libelle": {
            "type": "string"
          },
          "meeting_date": {
            "type": "string"
          },
          "reference": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "ListAttendanceGeneralMeeting": {
        "type": "object",
        "properties": {
          "grade": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "type": "boolean"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "Representant": {
        "type": "object",
        "properties": {
          "grade": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "type": "boolean"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "TaskGeneralMeeting": {
        "type": "object",
        "properties": {
          "created_by": {
            "type": "string"
          },
          "deadline": {
            "type": "string",
            "format": "date-time"
          },
          "general_meeting_id": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "libelle": {
            "type": "string"
          },
          "responsible": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "supervisor": {
            "type": "string"
          },
          "transfers": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "type": {
            "type": "string"
          }
        }
      },
      "Contract": {
        "type": "object",
        "properties": {
          "category": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "value": {
                "type": "string"
              }
            }
          },
          "created_by": {
            "type": "string"
          },
          "date_effective": {
            "type": "string",
            "format": "date-time"
          },
          "date_expiration": {
            "type": "string",
            "format": "date-time"
          },
          "date_renewal": {
            "type": "string",
            "format": "date-time"
          },
          "date_signature": {
            "type": "string",
            "format": "date-time"
          },
          "documents": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "step_name": {
                  "type": "string"
                },
                "files": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "filename": {
                        "type": "string"
                      },
                      "file_url": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "first_part": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "part_id": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                }
              }
            }
          },
          "id": {
            "type": "string"
          },
          "second_part": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "part_id": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                }
              }
            }
          },
          "sub_type_category": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "value": {
                "type": "string"
              }
            }
          },
          "title": {
            "type": "string"
          },
          "transfers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "title": {
                  "type": "string"
                },
                "deadline": {
                  "type": "string",
                  "format": "date-time"
                },
                "description": {
                  "type": "string"
                },
                "status": {
                  "type": "boolean"
                },
                "sender": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "firstname": {
                      "type": "string"
                    },
                    "lastname": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string"
                    }
                  }
                },
                "collaborators": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "firstname": {
                        "type": "string"
                      },
                      "lastname": {
                        "type": "string"
                      },
                      "email": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "type_category": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "value": {
                "type": "string"
              }
            }
          }
        }
      },
      "Task": {
        "type": "object",
        "properties": {
          "created_by": {
            "type": "string"
          },
          "deadline": {
            "type": "string",
            "format": "date-time"
          },
          "id": {
            "type": "string"
          },
          "libelle": {
            "type": "string"
          },
          "status": {
            "type": "boolean"
          },
          "transfers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "title": {
                  "type": "string"
                },
                "deadline": {
                  "type": "string",
                  "format": "date-time"
                },
                "description": {
                  "type": "string"
                },
                "status": {
                  "type": "boolean"
                },
                "sender": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "firstname": {
                      "type": "string"
                    },
                    "lastname": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string"
                    }
                  }
                },
                "collaborators": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "firstname": {
                        "type": "string"
                      },
                      "lastname": {
                        "type": "string"
                      },
                      "email": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "Part": {
        "type": "object",
        "properties": {
          "capital": {
            "type": "string"
          },
          "denomination": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "id_card": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "number_ifu": {
            "type": "string"
          },
          "number_rccm": {
            "type": "string"
          },
          "residence": {
            "type": "string"
          },
          "telephone": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "zip_code": {
            "type": "string"
          }
        }
      },
      "ContractModel": {
        "type": "object",
        "properties": {
          "file_path": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "parent_id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "Bank": {
        "type": "object",
        "properties": {
          "file_url": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "link": {
            "type": "string"
          },
          "title": {
            "type": "string"
          }
        }
      },
      "Notification": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "priority": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "module_id": {
            "type": "string"
          },
          "deadline": {
            "type": "string"
          },
          "read_at": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "LegalWatche": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "reference": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "case_number": {
            "type": "string"
          },
          "summary": {
            "type": "string"
          },
          "innovation": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "is_archived": {
            "type": "boolean"
          },
          "event_date": {
            "type": "string"
          },
          "effective_date": {
            "type": "string"
          },
          "jurisdiction_location": {
            "type": "string"
          },
          "jurisdiction": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            }
          },
          "nature": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            }
          },
          "recipient_type": {
            "type": "string"
          },
          "mail_object": {
            "type": "string"
          },
          "mail_content": {
            "type": "string"
          },
          "mail_addresses": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Litigation": {
        "type": "object",
        "properties": {
          "added_amount": {
            "type": "number"
          },
          "address": {
            "type": "string"
          },
          "case_number": {
            "type": "string"
          },
          "created_by": {
            "type": "string"
          },
          "current_step": {
            "type": "string"
          },
          "documents": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "email": {
            "type": "string"
          },
          "estimated_amount": {
            "type": "number"
          },
          "form": {
            "type": "string"
          },
          "has_provisions": {
            "type": "boolean"
          },
          "id": {
            "type": "string"
          },
          "is_archived": {
            "type": "boolean"
          },
          "jurisdiction": {
            "type": "string"
          },
          "jurisdiction_location": {
            "type": "string"
          },
          "lawyers": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "max_deadline": {
            "type": "string"
          },
          "min_deadline": {
            "type": "string"
          },
          "model_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "nature": {
            "type": "string"
          },
          "next_step": {
            "type": "string"
          },
          "parties": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "party_type": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "reference": {
            "type": "string"
          },
          "remaining_amount": {
            "type": "number"
          },
          "status": {
            "type": "string"
          },
          "sum_added_amount": {
            "type": "number"
          },
          "sum_estimated_amount": {
            "type": "number"
          },
          "sum_remaining_amount": {
            "type": "number"
          },
          "title": {
            "type": "string"
          },
          "transfers": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "type": {
            "type": "string"
          },
          "users": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "Guarantee": {
        "type": "object",
        "properties": {
          "contract_id": {
            "type": "string"
          },
          "created_by": {
            "type": "string"
          },
          "current_step": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "title": {
                "type": "string"
              }
            }
          },
          "documents": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "file_url": {
                  "type": "string"
                },
                "filename": {
                  "type": "string"
                }
              }
            }
          },
          "form": {
            "type": "string"
          },
          "formalization_type": {
            "type": "string"
          },
          "has_recovery": {
            "type": "boolean"
          },
          "id": {
            "type": "string"
          },
          "is_approved": {
            "type": "boolean"
          },
          "max_deadline": {
            "type": "string"
          },
          "min_deadline": {
            "type": "string"
          },
          "model_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "next_step": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "title": {
                "type": "string"
              }
            }
          },
          "phase": {
            "type": "string"
          },
          "reference": {
            "type": "string"
          },
          "security": {
            "type": "string"
          },
          "sell_price_estate": {
            "type": "number"
          },
          "state": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "transfers": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "type": {
            "type": "string"
          }
        }
      },
      "Recovery": {
        "type": "object",
        "properties": {
          "contract_id": {
            "type": "string"
          },
          "created_by": {
            "type": "string"
          },
          "current_step": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            }
          },
          "documents": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "file_url": {
                  "type": "string"
                },
                "filename": {
                  "type": "string"
                }
              }
            }
          },
          "form": {
            "type": "string"
          },
          "guarantee_id": {
            "type": "string"
          },
          "has_guarantee": {
            "type": "boolean"
          },
          "id": {
            "type": "string"
          },
          "is_archived": {
            "type": "boolean"
          },
          "max_deadline": {
            "type": "string"
          },
          "min_deadline": {
            "type": "string"
          },
          "model_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "next_step": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            }
          },
          "reference": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "transfers": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "type": {
            "type": "string"
          }
        }
      },
      "ListAttendanceSessionAdministrator": {
        "type": "object",
        "properties": {
          "grade": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "type": "boolean"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "SessionAdministrator": {
        "type": "object",
        "properties": {
          "files": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "id": {
            "type": "string"
          },
          "libelle": {
            "type": "string"
          },
          "next_task": {
            "type": "string"
          },
          "reference": {
            "type": "string"
          },
          "session_date": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "CaAttachement": {
        "type": "object",
        "properties": {
          "files": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "id": {
            "type": "string"
          },
          "libelle": {
            "type": "string"
          },
          "reference": {
            "type": "string"
          },
          "session_date": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "Mandate": {
        "type": "object",
        "properties": {
          "appointment_date": {
            "type": "string"
          },
          "expiry_date": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "renewal_date": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "CaAdministrator": {
        "type": "object",
        "properties": {
          "address": {
            "type": "string"
          },
          "birthdate": {
            "type": "string"
          },
          "birthplace": {
            "type": "string"
          },
          "company_head_office": {
            "type": "string"
          },
          "company_nationality": {
            "type": "string"
          },
          "denomination": {
            "type": "string"
          },
          "function": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "mandates": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Mandate"
            }
          },
          "name": {
            "type": "string"
          },
          "nationality": {
            "type": "string"
          },
          "quality": {
            "type": "string"
          },
          "share_percentage": {
            "type": "string"
          },
          "shares": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "TaskSessionAdministrator": {
        "type": "object",
        "properties": {
          "created_by": {
            "type": "string"
          },
          "deadline": {
            "type": "string",
            "format": "date-time"
          },
          "id": {
            "type": "string"
          },
          "libelle": {
            "type": "string"
          },
          "responsible": {
            "type": "string"
          },
          "session_administrator_id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "supervisor": {
            "type": "string"
          },
          "transfers": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "type": {
            "type": "string"
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "firstname": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "lastname": {
            "type": "string"
          },
          "roles": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                }
              }
            }
          },
          "subsidiary": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            }
          },
          "username": {
            "type": "string"
          }
        }
      },
      "CurrentUser": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "firstname": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "lastname": {
            "type": "string"
          },
          "username": {
            "type": "string"
          }
        }
      },
      "Login": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string"
          }
        }
      },
      "AuthorIncident": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "telephone": {
            "type": "string"
          }
        }
      },
      "TaskIncident": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "created_by": {
            "type": "string"
          },
          "deadline": {
            "type": "string",
            "format": "date-time"
          },
          "form": {
            "type": "object",
            "properties": {
              "form_title": {
                "type": "string"
              },
              "fields": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "label": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "id": {
            "type": "string"
          },
          "incident_id": {
            "type": "string"
          },
          "status": {
            "type": "boolean"
          },
          "title": {
            "type": "string"
          },
          "transfers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "title": {
                  "type": "string"
                },
                "deadline": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "sender": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "firstname": {
                      "type": "string"
                    },
                    "lastname": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string"
                    }
                  }
                },
                "collaborators": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "firstname": {
                        "type": "string"
                      },
                      "lastname": {
                        "type": "string"
                      },
                      "email": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "CompleteTaskIncident": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "created_by": {
            "type": "string"
          },
          "deadline": {
            "type": "string",
            "format": "date-time"
          },
          "form": {
            "type": "object",
            "properties": {
              "form_title": {
                "type": "string"
              },
              "fields": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "label": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "id": {
            "type": "string"
          },
          "incident_id": {
            "type": "string"
          },
          "status": {
            "type": "boolean"
          },
          "title": {
            "type": "string"
          }
        }
      },
      "Incident": {
        "type": "object",
        "properties": {
          "author_incident": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "email": {
                "type": "string"
              },
              "telephone": {
                "type": "string"
              }
            }
          },
          "category": {
            "type": "object",
            "properties": {
              "value": {
                "type": "string"
              },
              "label": {
                "type": "string"
              }
            }
          },
          "client": {
            "type": "boolean"
          },
          "current_task": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "title": {
                "type": "string"
              },
              "code": {
                "type": "string"
              }
            }
          },
          "date_received": {
            "type": "string",
            "format": "date-time"
          },
          "files": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "file_url": {
                  "type": "string"
                },
                "filename": {
                  "type": "string"
                }
              }
            }
          },
          "id": {
            "type": "string"
          },
          "reference": {
            "type": "string"
          },
          "status": {
            "type": "boolean"
          },
          "title": {
            "type": "string"
          }
        }
      },
      "AuditNotation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "audit_reference": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "module": {
            "type": "string"
          },
          "module_id": {
            "type": "string"
          },
          "original_note": {
            "type": "number"
          },
          "original_status": {
            "type": "string"
          },
          "last_note": {
            "type": "number"
          },
          "last_status": {
            "type": "string"
          },
          "creator": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "firstname": {
                "type": "string"
              },
              "lastname": {
                "type": "string"
              },
              "email": {
                "type": "string"
              }
            }
          },
          "original_indicators": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "note": {
                  "type": "number"
                },
                "audit_performance_indicator": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "note": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          },
          "last_indicators": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "note": {
                  "type": "number"
                },
                "audit_performance_indicator": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "note": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          },
          "transfers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "title": {
                  "type": "string"
                },
                "deadline": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "status": {
                  "type": "boolean"
                },
                "notation": {
                  "type": "object",
                  "properties": {
                    "note": {
                      "type": "number"
                    },
                    "indicators": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "note": {
                            "type": "number"
                          },
                          "audit_performance_indicator": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "title": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              },
                              "note": {
                                "type": "number"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "sender": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "firstname": {
                      "type": "string"
                    },
                    "lastname": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string"
                    }
                  }
                },
                "collaborators": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "firstname": {
                        "type": "string"
                      },
                      "lastname": {
                        "type": "string"
                      },
                      "email": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "AuditPerformanceIndicator": {
        "type": "object",
        "properties": {
          "description": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "module": {
            "type": "string"
          },
          "note": {
            "type": "number"
          },
          "title": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "Director": {
        "type": "object",
        "properties": {
          "address": {
            "type": "string"
          },
          "birthdate": {
            "type": "string"
          },
          "birthplace": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "mandates": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Mandate"
            }
          },
          "name": {
            "type": "string"
          },
          "nationality": {
            "type": "string"
          }
        }
      },
      "ListAttendanceManagementCommittee": {
        "type": "object",
        "properties": {
          "grade": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "type": "boolean"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "ManagementCommittee": {
        "type": "object",
        "properties": {
          "files": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "id": {
            "type": "string"
          },
          "libelle": {
            "type": "string"
          },
          "next_task": {
            "type": "string"
          },
          "reference": {
            "type": "string"
          },
          "session_date": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "CdAttachement": {
        "type": "object",
        "properties": {
          "files": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "id": {
            "type": "string"
          },
          "libelle": {
            "type": "string"
          },
          "reference": {
            "type": "string"
          },
          "session_date": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "TaskManagementCommittee": {
        "type": "object",
        "properties": {
          "created_by": {
            "type": "string"
          },
          "deadline": {
            "type": "string",
            "format": "date-time"
          },
          "id": {
            "type": "string"
          },
          "libelle": {
            "type": "string"
          },
          "management_committee_id": {
            "type": "string"
          },
          "responsible": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "supervisor": {
            "type": "string"
          },
          "transfers": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "type": {
            "type": "string"
          }
        }
      },
      "Position": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          }
        }
      },
      "Notation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "evaluation_reference": {
            "type": "string"
          },
          "original_note": {
            "type": "number"
          },
          "original_status": {
            "type": "string"
          },
          "last_note": {
            "type": "number"
          },
          "last_status": {
            "type": "string"
          },
          "creator": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "firstname": {
                "type": "string"
              },
              "lastname": {
                "type": "string"
              },
              "email": {
                "type": "string"
              }
            }
          },
          "collaborator": {
            "$ref": "#/components/schemas/Collaborator"
          },
          "original_indicators": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "note": {
                  "type": "number"
                },
                "performance_indicator": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "note": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          },
          "last_indicators": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "note": {
                  "type": "number"
                },
                "performance_indicator": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "note": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          },
          "transfers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "title": {
                  "type": "string"
                },
                "deadline": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "status": {
                  "type": "boolean"
                },
                "notation": {
                  "type": "object",
                  "properties": {
                    "note": {
                      "type": "number"
                    },
                    "indicators": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "note": {
                            "type": "number"
                          },
                          "performance_indicator": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "title": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              },
                              "note": {
                                "type": "number"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "sender": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "firstname": {
                      "type": "string"
                    },
                    "lastname": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string"
                    }
                  }
                },
                "collaborators": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "firstname": {
                        "type": "string"
                      },
                      "lastname": {
                        "type": "string"
                      },
                      "email": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "Collaborator": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "firstname": {
            "type": "string"
          },
          "lastname": {
            "type": "string"
          },
          "position": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "title": {
                "type": "string"
              }
            }
          }
        }
      },
      "PerformanceIndicator": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "note": {
            "type": "number"
          },
          "description": {
            "type": "string"
          },
          "position": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "title": {
                "type": "string"
              }
            }
          }
        }
      },
      "Role": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "permissions": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "label": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "Permission": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "Subsidiary": {
        "type": "object",
        "properties": {
          "address": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "RecoveryStep": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "model_id": {
            "type": "string"
          },
          "status": {
            "type": "boolean"
          },
          "type": {
            "type": "string"
          },
          "created_by": {
            "type": "string"
          },
          "min_deadline": {
            "type": "string"
          },
          "max_deadline": {
            "type": "string"
          },
          "form": {
            "type": "object",
            "properties": {
              "form_title": {
                "type": "string"
              },
              "fields": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "label": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "transfers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "title": {
                  "type": "string"
                },
                "deadline": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "sender": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "firstname": {
                      "type": "string"
                    },
                    "lastname": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string"
                    }
                  }
                },
                "collaborators": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "firstname": {
                        "type": "string"
                      },
                      "lastname": {
                        "type": "string"
                      },
                      "email": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "GuaranteeStep": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "model_id": {
            "type": "string"
          },
          "status": {
            "type": "boolean"
          },
          "type": {
            "type": "string"
          },
          "created_by": {
            "type": "string"
          },
          "min_deadline": {
            "type": "string"
          },
          "max_deadline": {
            "type": "string"
          },
          "form": {
            "type": "object",
            "properties": {
              "form_title": {
                "type": "string"
              },
              "fields": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "label": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "transfers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "title": {
                  "type": "string"
                },
                "deadline": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "sender": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "firstname": {
                      "type": "string"
                    },
                    "lastname": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string"
                    }
                  }
                },
                "collaborators": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "firstname": {
                        "type": "string"
                      },
                      "lastname": {
                        "type": "string"
                      },
                      "email": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "LitigationRef": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "LitigationCase": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "case_number": {
            "type": "string"
          },
          "reference": {
            "type": "string"
          },
          "is_archived": {
            "type": "boolean"
          },
          "has_provisions": {
            "type": "boolean"
          },
          "jurisdiction_location": {
            "type": "string"
          },
          "nature": {
            "$ref": "#/components/schemas/LitigationRef"
          },
          "jurisdiction": {
            "$ref": "#/components/schemas/LitigationRef"
          },
          "current_step": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "title": {
                "type": "string"
              }
            }
          },
          "next_step": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "title": {
                "type": "string"
              }
            }
          },
          "parties": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "phone": {
                  "type": "string"
                },
                "email": {
                  "type": "string"
                },
                "category": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                }
              }
            }
          },
          "users": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "email": {
                  "type": "string"
                }
              }
            }
          },
          "lawyers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "phone": {
                  "type": "string"
                },
                "email": {
                  "type": "string"
                }
              }
            }
          },
          "documents": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "file_url": {
                  "type": "string"
                },
                "filename": {
                  "type": "string"
                }
              }
            }
          },
          "estimated_amount": {
            "type": "number"
          },
          "added_amount": {
            "type": "number"
          },
          "remaining_amount": {
            "type": "number"
          }
        }
      },
      "LitigationParty": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "party_type": {
            "type": "string"
          }
        }
      },
      "LitigationStats": {
        "type": "object",
        "properties": {
          "sum_added_amount": {
            "type": "number"
          },
          "sum_estimated_amount": {
            "type": "number"
          },
          "sum_remaining_amount": {
            "type": "number"
          }
        }
      },
      "Lawyer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          }
        }
      },
      "LitigationTask": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "model_id": {
            "type": "string"
          },
          "status": {
            "type": "boolean"
          },
          "type": {
            "type": "string"
          },
          "created_by": {
            "type": "string"
          },
          "min_deadline": {
            "type": "string"
          },
          "max_deadline": {
            "type": "string"
          },
          "form": {
            "type": "object",
            "properties": {
              "form_title": {
                "type": "string"
              },
              "fields": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "label": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "transfers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "title": {
                  "type": "string"
                },
                "deadline": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "sender": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "firstname": {
                      "type": "string"
                    },
                    "lastname": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string"
                    }
                  }
                },
                "collaborators": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "firstname": {
                        "type": "string"
                      },
                      "lastname": {
                        "type": "string"
                      },
                      "email": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "BankItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "file_url": {
            "type": "string"
          },
          "link": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/action_transfers": {
      "get": {
        "tags": [
          "Governance / Shareholding"
        ],
        "summary": "Fetches all shares transfers from the server.",
        "description": "Frontend SDK function(s): getAllSharesTransfers",
        "operationId": "getActionTransfers",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ActionTransfer"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          },
          "404": {
            "description": "Resource not found"
          },
          "422": {
            "description": "Validation error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Governance / Shareholding"
        ],
        "summary": "Transfers shares.",
        "description": "Frontend SDK function(s): transferShares",
        "operationId": "postActionTransfers",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ActionTransfer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          },
          "404": {
            "description": "Resource not found"
          },
          "422": {
            "description": "Validation error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "buyer_id": {
                    "type": "string"
                  },
                  "count_actions": {
                    "type": "integer"
                  },
                  "name": {
                    "type": "string"
                  },
                  "owner_id": {
                    "type": "string"
                  },
                  "transfer_date": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/action_transfers/{transferId}": {
      "get": {
        "tags": [
          "Governance / Shareholding"
        ],
        "summary": "Fetches one shares transfer from the server.",
        "description": "Frontend SDK function(s): getOneSharesTransfer",
        "operationId": "getActionTransfersTransferid",
        "parameters": [
          {
            "name": "transferId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Shares transfer identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ActionTransfer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          },
          "404": {
            "description": "Resource not found"
          },
          "422": {
            "description": "Validation error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/ag_attachements": {
      "post": {
        "tags": [
          "Governance / General Meeting"
        ],
        "summary": "addGeneralMeetingFile",
        "description": "Frontend SDK function(s): addGeneralMeetingFile",
        "operationId": "postAgAttachements",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AgAttachement"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          },
          "404": {
            "description": "Resource not found"
          },
          "422": {
            "description": "Validation error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "general_meeting_id": {
                    "type": "string"
                  },
                  "files": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "file": {
                          "type": "string",
                          "format": "binary"
                        },
                        "type": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/approved_action_transfers": {
      "post": {
        "tags": [
          "Governance / Shareholding"
        ],
        "summary": "Approves a shares transfer.",
        "description": "Frontend SDK function(s): approveSharesTransfer",
        "operationId": "postApprovedActionTransfers",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          },
          "404": {
            "description": "Resource not found"
          },
          "422": {
            "description": "Validation error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "action_transfer_id": {
                    "type": "string"
                  },
                  "address": {
                    "type": "string"
                  },
                  "corporate_type": {
                    "type": "string"
                  },
                  "nationality": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/audit_create_transfers": {
      "post": {
        "tags": [
          "Audit"
        ],
        "summary": "Forwards an audit.",
        "description": "Frontend SDK function(s): forwardAudit",
        "operationId": "postAuditCreateTransfers",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          },
          "404": {
            "description": "Resource not found"
          },
          "422": {
            "description": "Validation error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "audit_notation_id": {
                    "type": "string"
                  },
                  "collaborators": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "deadline_transfer": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "forward_title": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/audit_notations": {
      "get": {
        "tags": [
          "Audit"
        ],
        "summary": "Fetches all audit for a user profile from the server.",
        "description": "Frontend SDK function(s): getAllAudits",
        "operationId": "getAuditNotations",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AuditNotation"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          },
          "404": {
            "description": "Resource not found"
          },
          "422": {
            "description": "Validation error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Audit"
        ],
        "summary": "Creates a new audit.",
        "description": "Frontend SDK function(s): createAudit",
        "operationId": "postAuditNotations",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AuditNotation"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          },
          "404": {
            "description": "Resource not found"
          },
          "422": {
            "description": "Validation error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "module": {
                    "type": "string"
                  },
                  "module_id": {
                    "type": "string"
                  },
                  "notes": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "audit_performance_indicator_id": {
                          "type": "string"
                        },
                        "note": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/audit_notations/{auditId}": {
      "get": {
        "tags": [
          "Audit"
        ],
        "summary": "Fetches a single audit from the server.",
        "description": "Frontend SDK function(s): getOneAudit",
        "operationId": "getAuditNotationsAuditid",
        "parameters": [
          {
            "name": "auditId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Audit notation identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AuditNotation"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          },
          "404": {
            "description": "Resource not found"
          },
          "422": {
            "description": "Validation error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Audit"
        ],
        "summary": "Updates a new audit.",
        "description": "Frontend SDK function(s): updateAudit",
        "operationId": "putAuditNotationsAuditid",
        "parameters": [
          {
            "name": "auditId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Audit notation identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AuditNotation"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          },
          "404": {
            "description": "Resource not found"
          },
          "422": {
            "description": "Validation error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "notes": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "audit_performance_indicator_id": {
                          "type": "string"
                        },
                        "note": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/audit_performance_indicators": {
      "get": {
        "tags": [
          "Audit"
        ],
        "summary": "Fetches all audit criteria for a user module from the server.",
        "description": "Frontend SDK function(s): getAllAuditCriteria",
        "operationId": "getAuditPerformanceIndicators",
        "parameters": [
          {
            "name": "module",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter/parameter 'module'"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AuditPerformanceIndicator"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          },
          "404": {
            "description": "Resource not found"
          },
          "422": {
            "description": "Validation error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Audit"
        ],
        "summary": "Creates a new audit criteria.",
        "description": "Frontend SDK function(s): createAuditCriteria",
        "operationId": "postAuditPerformanceIndicators",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AuditPerformanceIndicator"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          },
          "404": {
            "description": "Resource not found"
          },
          "422": {
            "description": "Validation error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "description": {
                    "type": "string"
                  },
                  "module": {
                    "type": "string"
                  },
                  "note": {
                    "type": "number"
                  },
                  "title": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/audit_performance_indicators/{criteriaId}": {
      "get": {
        "tags": [
          "Audit"
        ],
        "summary": "Fetches a single audit criteria from the server.",
        "description": "Frontend SDK function(s): getOneAuditCriteria",
        "operationId": "getAuditPerformanceIndicatorsCriteriaid",
        "parameters": [
          {
            "name": "criteriaId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Criteria identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AuditPerformanceIndicator"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          },
          "404": {
            "description": "Resource not found"
          },
          "422": {
            "description": "Validation error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Audit"
        ],
        "summary": "Updates an audit criteria.",
        "description": "Frontend SDK function(s): updateAuditCriteria",
        "operationId": "putAuditPerformanceIndicatorsCriteriaid",
        "parameters": [
          {
            "name": "criteriaId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Criteria identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AuditPerformanceIndicator"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          },
          "404": {
            "description": "Resource not found"
          },
          "422": {
            "description": "Validation error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "description": {
                    "type": "string"
                  },
                  "module": {
                    "type": "string"
                  },
                  "note": {
                    "type": "number"
                  },
                  "title": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Audit"
        ],
        "summary": "Deletes an audit criteria.",
        "description": "Frontend SDK function(s): deleteAuditCriteria",
        "operationId": "deleteAuditPerformanceIndicatorsCriteriaid",
        "parameters": [
          {
            "name": "criteriaId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Criteria identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AuditPerformanceIndicator"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid bearer token"
          },
          "404": {
            "description": "Resource not found"
          },
          "422": {
            "description": "Validation error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/author_incidents": {
      "get": {
        "tags": [
          "Account Incidents"
[...]
